a {
  color:white;
  text-decoration: none;
}

p {
  color: rgb(184, 184, 184);
  line-height: 1.4;
}

/*  Currency Info */

.currencyHeader {
  height: 60px;
  margin-bottom: 20px;
}

.selectedCurrencyActions {
  font-size: 30px;
  float: left;
}

.selectedCurrencyActions > button > span {
  font-size: 6px !important;
  float: left;
}

.selectedCurrencyActions > span {
  font-size: 6px !important;
  float: left;
}

.selectedCurrencyPrice {
  font-size: 24px;
  float: right;
}

/* Input data */

mat-progress-bar {
  z-index: 100;
  position: fixed;
  top:61px;
  left: 0;
}

.icon {
  vertical-align: middle;
  margin-right: 8px;
  height: 25px;
}

.input-values {
  width: 100%;
}

/* mat-spinner {
  top: 10px;
  float: left;
} */

mat-form-field {
  float: left;
  margin-right: 1%;
}

.mat-select-panel {
  background: rgba(37, 37, 44) !important;
}


/* Tabs */

mat-tab-group {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.tab-icon {
  margin-right: 8px;
}

/* Market info */

.market-container {
   display: flex;
}

.right-container {
  flex: 1;
}

.right-container > mat-card {
  width: 300px;
}

.left-container:first-child {
  width: 100%;
}

.right-container:first-child {
  margin-right: 20px;
}

/* .angular-with-newlines {
    white-space: pre-line;
} */

/* News Feed */

.news-feed {
  padding: 16px;
  /* display: flex; */
  column-count: 2;
  /* column-gap: 10px; */
  margin: 1.5em auto;
  column-gap: 1.5em;
}

mat-card {
  display: inline-block;
  margin: 10px;
  width: 95%;
  background-color: rgb(32, 36, 46);
  line-height: 1.4;
}

mat-card-title{
  line-height: 1.2;
}

.news-feed mat-card-content {
  line-height: 1.5;
  color: rgb(211, 211, 211);
}

/* History Data */

table {
  width: 95%;
  background-color: rgba(38, 39, 53, 0);
  border-radius: 8px;
  overflow:hidden !important;
}
