<!-- Data input -->

<body>
  <div class="inputvalues">
    <mat-form-field appearance="fill">
      <mat-label>Currency to evaluate</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.name">
          <img class="icon" aria-hidden src="{{currency.img}}">
          <span>{{currency.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Currency to compare to</mat-label>
      <mat-select [(ngModel)]="selectedValueToCompare" name="currency">
        <mat-option *ngFor="let currency of currenciesToCompare" [value]="currency.name">
          <img class="icon" aria-hidden src="{{currency.img}}">
          <span>{{currency.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date from</mat-label>
      <input matInput [matDatepicker]="picker" [value]="date.value" (dateInput)="OnDateChange($event.value)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Tabs with their content  -->
  <mat-tab-group mat-align-tabs="start">
    <!-- STATS CHART -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">trending_up</mat-icon>
        Stats Chart
      </ng-template>
      <div id='chart'>
        <highcharts-chart [Highcharts]="Highcharts" [constructorType]="'stockChart'" [options]="chartOptions">
        </highcharts-chart>
      </div>
    </mat-tab>
    <!-- HISTORICAL DATA -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">view_list</mat-icon>
        Historical Data
      </ng-template>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" style="width: 100%;">
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.time * 1000 | date}} </td>
          </ng-container>
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row">
              {{column.cell(row)}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->

        <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-tab>
    <!-- NEWS ARTICLES -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">star_half</mat-icon>
        News Articles
      </ng-template>
      Content 3
    </mat-tab>
  </mat-tab-group>

  <!-- Snackbar Notification -->
  <mat-form-field appearance="fill">
    <mat-label>Snack bar duration (seconds)</mat-label>
    <input type="number" [(ngModel)]="durationInSeconds" matInput>
  </mat-form-field>
</body>