<!-- Data input -->

<body>
  <div class="inputvalues">
    <mat-form-field appearance="fill">
      <mat-label>Currency to evaluate</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="currency">
        <mat-option *ngFor="let currency of currencies" [value]="currency.name">
          <img class="icon" aria-hidden src="{{currency.img}}">
          <span>{{currency.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Currency to compare to</mat-label>
      <mat-select [(ngModel)]="selectedValueToCompare" name="currency">
        <mat-option *ngFor="let currency of currenciesToCompare" [value]="currency.name">
          <img class="icon" aria-hidden src="{{currency.img}}">
          <span>{{currency.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date from</mat-label>
      <input matInput [matDatepicker]="picker" [value]="date.value" (dateInput)="OnDateChange($event.value)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <!-- Tabs with their content  -->
  <mat-tab-group mat-align-tabs="start">
    <!-- STATS CHART -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">trending_up</mat-icon>
        Stats Chart
      </ng-template>
      <div echarts [options]="chartOption" [merge]="mergeOptions" class="demo-chart" style="width: 100%;height: 450px;">
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">view_list</mat-icon>
        Historical Data
      </ng-template>
      <!-- HISTORICAL DATA -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" style="width: 100%;">
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element"> {{element.time * 1000 | date}} </td>
          </ng-container>
          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row">
              {{column.cell(row)}}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!-- <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons>
        </mat-paginator> -->
      </div>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">star_half</mat-icon>
        News Feed
      </ng-template>
      <!-- NEWS FEED -->
      <div class="news-feed">
        <div fxLayout="row nowrap" fxLayoutGap="16px grid">
          <ng-container fxFlex="25" fxFlex.sm="33.3" fxFlex.xs="50" *ngFor="let card of cards">
            <mat-card>
              <mat-card-title-group>
                <mat-card-title><a href={{card.url}}>{{card.title}}</a></mat-card-title>
                <mat-card-subtitle>{{card.published_on * 1000 | date}}</mat-card-subtitle>
                <img mat-card-sm-image src={{card.imageurl}}>
              </mat-card-title-group>
              <mat-card-content>
                {{card.body}}
              </mat-card-content>
              <mat-card-actions>
                <a mat-stroked-button href={{card.url}} target="_blank">
                  Source: {{card.source_info['name']}}
                  <mat-icon style="font-size: 20px;color: grey">
                    open_in_new
                  </mat-icon>
                </a>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</body>