a {
  color: white;
  text-decoration: none;
}

p {
  color: rgb(184, 184, 184);
  line-height: 1.4;
}

/*  Currency Info */

.currencyHeader {
  height: 60px;
  margin-bottom: 20px;
}

.symbol {
  vertical-align: middle;
  font-size: 12px;
  ;
  font-weight: 400;
  padding: 4px 5px;
  border-radius: 12%;
  color: rgb(190, 190, 190);
  background-color: rgb(50, 50, 65);
  border-radius: 10%;
}

.selectedCurrencyActions {
  font-size: 30px;
  float: left;
}

.selectedCurrencyPrice {
  font-size: 24px;
  float: right;
}

/* Input data */

mat-progress-bar {
  z-index: 100;
  position: fixed;
  top: 56px;
  left: 0;
}

.icon {
  vertical-align: middle;
  margin-right: 8px;
  height: 25px;
}

.input-values {
  position: relative;
  width: 100%;
  left: 50px;
}

::ng-deep mat-form-field {
  width: 120px !important;
  height: 40px !important;
}

::ng-deep .mat-form-field-flex {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  height: 40px !important;
}

/* ::ng-deep mat-tab-header {
  width: 80%;
} */

.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
}

.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;
  ;
}

.mat-form-field-label {
  /*change color of label*/
  color: white !important;
}

::ng-deep .mat-calendar-body-selected {
  /* background-color: green; */
}

::ng-deep mat-datepicker-content {
  backdrop-filter: blur(15px);
  background: rgba(37, 37, 44, 0.65) !important;
}

/* mat-spinner {
  top: 10px;
  float: left;
} */

mat-form-field {
  float: left;
  margin-right: 1%;
}

.mat-select-panel {
  background: rgba(37, 37, 44) !important;
}

/* Tabs */

mat-tab-group {
  margin: auto;
  height: 100%;
  width: 100%;
  display: inline-block;
}

.tab-icon {
  margin-right: 8px;
}

/* Market info */

.market-container {
  display: flex;
}

.right-container {
  flex: 1;
}

.right-container>mat-card {
  width: 300px;
}

.left-container:first-child {
  width: 100%;
}

.right-container:first-child {
  margin-right: 20px;
}

/* .angular-with-newlines {
    white-space: pre-line;
} */

.mat-header-row {
  background-color: #282a38 !important;
  font-size: medium !important;
}

/* News Feed */

.news-feed {
  padding: 16px;
  /* display: flex; */
  column-count: 2;
  /* column-gap: 10px; */
  margin: 1.5em auto;
  column-gap: 1.5em;
}

mat-card {
  display: inline-block;
  margin: 10px;
  width: 95%;
  line-height: 1.4;
  background-color: rgb(29, 30, 39);
  border: 1px solid rgba(56, 58, 71, 0.685);
}

mat-card-title {
  line-height: 1.25;
}

mat-card img {
  border-radius: 12%;
  margin-left: 10px;
}

#card-body {
  line-height: 1.35;
}

.news-feed mat-card-content {
  line-height: 1.5;
  color: rgb(211, 211, 211);
}

/* History Data */

table {
  width: 95%;
  background-color: rgba(38, 39, 53, 0);
  border-radius: 8px;
  overflow: hidden !important;
}