body {
  padding: 50px;
}

h1 {
  position: absolute;
  top: 500px;
  color: white;
}

a {
  color:white;
  text-decoration: none;
}

.news-feed {
  padding: 16px;
  display: flex;
}

mat-card {
  width: 200px;
  float: left;
  flex: 1;
}

mat-card {
  margin: 15px;
  width: 600px;
}

.icon {
  vertical-align: middle;
  margin-right: 8px;
  height: 25px;
}

.input-values {
  width: 100%;
}

mat-spinner {
  top: 10px;
  float: left;
}

mat-form-field {
  float: left;
}

.angular-with-newlines {
    white-space: pre-line;
}

mat-tab-group {
  height: 100%;
  width: 100%;
}

 p {
  color: rgb(184, 184, 184);
  line-height: 1.2;
}

mat-form-field {
  margin-right: 1%;
}

.tab-icon {
  margin-right: 8px;
}

table {
  width: 95%;
  background-color: rgba(38, 39, 53, 0);
  border-radius: 8px;
  overflow:hidden !important;
}

mat-card {
  background-color: rgb(32, 36, 46);
}
mat-option {
  background-color: rgb(32, 36, 46);
}

.market-container {
   display: flex;
}

.left-container {
  flex: 1;
}

.right-container {
  flex: 1;
}

.right-container > mat-card {
  width: 300px;
}

.left-container:first-child {
  flex: 1;
}

.right-container:first-child {
  margin-right: 20px;
}