<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar-content">
    <div class="logo" routerLink="/market" style="cursor: pointer;"><span>Investraining</span></div>
    <div class="buttons" style="float: right">
      <button mat-button routerLink="/market" routerLinkActive="active">
        MARKET LIVE DATA
      </button>
      <button mat-button routerLink="/coindata" routerLinkActive="active">
        CURRENCY INFO
      </button>
      <!-- <button mat-button routerLink="/invest" routerLinkActive="active">
        INVEST
      </button> -->
      <!-- <button mat-button routerLink="/about" routerLinkActive="active">
        ABOUT
      </button> -->
    </div>
  </div>
</div>
<div class="space"></div>

<div class="content" style="min-height: 1000px;">
  <main [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>