<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>investraining </span>
  <div class='buttons'>
    <span class="button" routerLink="/graph" routerLinkActive="active">GRAPH</span>
    <span class="button" routerLink="/coinlist" routerLinkActive="active">COIN LIST</span>
    <span class="button" routerLink="/listview" routerLinkActive="active">LIST VIEW</span>
    <span class="button" routerLink="/periodictable" routerLinkActive="active">PERIODIC TABLE</span>
    <span class="button" routerLink="/stats" routerLinkActive="active">STATS</span>
    <span class="button" routerLink="/about" routerLinkActive="active">ABOUT</span>
  </div>
</div>
<div class="content">
  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</div>