<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="toolbar-content">
    <div class="logo" routerLink="/market" style="cursor: pointer;"><span>investraining</span></div>
    <div class="buttons" style="float: right">
      <button mat-button routerLink="/market" routerLinkActive="active">
        MARKET LIVE DATA
      </button>
      <button mat-button routerLink="/coindata" routerLinkActive="active">
        CURRENCY INFO
      </button>
      <!-- <button mat-button routerLink="/invest" routerLinkActive="active">
        INVEST
      </button> -->
      <!-- <button mat-button routerLink="/about" routerLinkActive="active">
        ABOUT
      </button> -->
    </div>
  </div>
</div>
<div class="space"></div>

<div class="content" style="min-height: 1000px;">
  <main [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
  </main>
</div>
<footer>
  <div class="footer-content">
    <div class="about">
      <!-- <img src=".\.\assets\imgs\DSC_6596.jpg"> -->
      <div class="firm-container">
        <div class="firm">
          <p id="juan">Juan</p>
          <p id="gab">Gabriel</p>
          <p id="mazz">Mazzoleni</p>
          <p id="soft">Software Developer</p>
        </div>
      </div>
    </div>
    <div class="description">
      <h1 style="font-size: 28px; font-style: italic; font-weight: 700;">investraining</h1>
      <div>
        This is a web app made to learn and show usage of different technologies. Consist basically on a crypto currency
        portal,
        where it shows from different currencies: live market data, general information, news feed, and statistical
        market
        data of
        specific currencies.<br>
        Almost all of the data shown on the site is loaded from an API while the live data is being fed from a
        WebSocket.
      </div>
      <div class="contact" style="display: flex;flex-direction: row;">
        <div class="contact-link">
          <a href="https://github.com/gabmzzn/investraining" target="_blank"><img src=".\.\assets\imgs\github.png"></a>
        </div>
        <div class="contact-link">
          <a href="https://www.linkedin.com/in/juan-gabriel-mazzoleni-a6b506142/" target="_blank"><img
              src=".\.\assets\imgs\linkedin.png"></a>
        </div>
        <div class="contact-link">
          <a href="https://www.linkedin.com/in/juan-gabriel-mazzoleni-a6b506142/" target="_blank"><img
              src=".\.\assets\imgs\cv.png" href=""></a>
        </div>
        <div class="contact-link">
          <a href="mailto: gabmzzn@gmail.com" title="gabmzzn@gmail.com" target="_blank"><img
              src=".\.\assets\imgs\mail.png"></a>
        </div>
      </div>
    </div>
    <div class="resources">
      <div>
        <h2>Made with</h2>
      </div>
      <mat-chip-list>
        <mat-chip>
          Angular
        </mat-chip>
        <mat-chip>
          TypeScript
        </mat-chip>
        <mat-chip>
          CryptoCompare API
        </mat-chip>
        <mat-chip>
          WebSocket
        </mat-chip>
        <mat-chip>
          Apache ECharts
        </mat-chip>
        <mat-chip>
          Angular Material
        </mat-chip>
        <mat-chip>
          HTML5
        </mat-chip>
        <mat-chip>
          CSS3
        </mat-chip>
        <mat-chip>
          GitHub
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</footer>