.page-container {
  position: relative;
  min-height: 100vh;
}

body {
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.space {
  position: relative;
  height: 55px;
  margin-bottom: 30px;
}

.toolbar {
  z-index: 10;
  position: fixed;
  margin-top: 0;
  left: 0;
  right: 0;
  height: 55px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 24px;
  background-color: rgb(27, 27, 32, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(150, 160, 175, 0.15);
  font-style: italic;
}

.toolbar-content {
  margin: auto;
  width: 1100px;
  display: flex;
  align-items: center;
}

.toolbar-content {
  margin: auto;
}

.buttons {
  margin: auto;
}

.buttons span {
  /* text-decoration: overline solid transparent 2px; */
  transition: color 0.5s, text-decoration 0.5s;
  font-size: 18px;
  font-style: normal;
}

button:hover, .active {
  /* text-decoration: overline solid rgb(143, 223, 255) 2px; */
  color: rgb(143, 223, 255);
  cursor: pointer;
}

.active {
  text-decoration: overline solid rgb(143, 223, 255) 2px;
  color: rgb(143, 223, 255);
  cursor: pointer;
}

footer {
  margin-top: 60px;
  border-top: 1px solid rgba(128, 128, 128, 0.15);
  background-color: rgb(25, 25, 30);
  /* background-color: rgb(205, 205, 210); */
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  color: white;
  width: 100%;
  max-width: 1100px;
}

.about, .description, .technologies {
  /* border: 1px solid rgba(128, 128, 128, 0.233); */
  height: 310px;
  width: 100%;
  padding: 30px;
  margin: 10px;
}

.about img {
  width: 200px;
  border-radius: 50%;
  border-color: 1px solid gray;
}

.firm {
  border: 3px solid;
  border-image: linear-gradient(45deg, rgb(0, 0, 255) 0%, rgba(255, 0, 0, 1) 100%) 1;
  font-family: 'Roboto', sans-serif;
  padding: 30px 25px;
  /* border-radius: 10px; */
  margin-top: 42px;
  width: 184px;
  height: 174px;
}

.about {
  padding: 30px 0px;
}

.about p {
  font-size: 40px;
  font-weight: 700;
  color: rgb(210, 210, 210);
  /* color: rgb(40, 40, 40); */
  height: 32px;
  position: relative;
}

#juan {
  margin-top: 18px;
  letter-spacing: 1.1px;
}

#gab {
  letter-spacing: 0.2px;
}

#mazz {
  height: 26px;
}

#soft {
  font-size: 21.4px;
  font-weight: 300;
  margin-left: 0.5px;
}