/* You can add global styles to this file, and also import other style files */
html {
  background: rgb(34,36,48);
  background: linear-gradient(180deg, rgba(34,36,48,1) 20%, rgba(23,23,26,1) 100%);
  background-attachment: fixed;
}

body {
  margin: 0;
  color: white;
}

/* This ensures that fadeAnimation is being applied */
/* router-outlet ~ * { 
  position: absolute;
  width: 100%;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
}