mat-progress-bar {
  z-index: 100;
  position: fixed;
  top: 61px;
  left: 0;
}

.news-feed {
  width: 100%;
}

.news-title {
  width: 100px;
}

.news-content {}

.news-content span {}

table {
  width: 100%;
  background-color: rgba(53, 38, 38, 0);
  border-radius: 8px;
  overflow: hidden !important;
}

h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.mat-header-row {
  background-color: rgb(27, 27, 32, 0.85) !important;
  font-size: medium !important;
}

.currencies {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-currencies {
  margin-bottom: 20px;
  width: 100%;
}

.worst-currencies {
  margin-bottom: 20px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card {
  width: 100%;
  margin-right: 10px;
}

mat-card {
  height: 120px;
  background-color: rgb(29, 30, 39);
  border: 1px solid rgba(56, 58, 71, 0.685);
  padding-top: 10px !important;
}

.card mat-card-content {
  font-size: 16px;
  font-weight: 600;
}

.card mat-card-subtitle {
  color: rgb(96, 104, 116);
}

.title h2 {
  margin-bottom: 7px;
  font-weight: 400;
}

mat-card-title-group img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(50, 50, 65);
}

.card mat-card-title {
  margin-top: 5px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgba(194, 207, 243, 0.082);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef4f;
}

.example-element-row td {
  border-color: rgba(255, 255, 255, 0.070);
  border-bottom-width: 1;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-column-name {
  font-size: 14px;
  font-weight: 500;
}

.mat-column-logo img {
  border-radius: 50%;
  background-color: rgb(50, 50, 65);
}

.mat-column-price {
  font-size: 16px;
  font-weight: 500;
}

.mat-column-changepct {
  font-size: 16px;
  font-weight: 500;
}

.mat-column-totalvolume, .mat-column-circulatingsupply, .mat-column-marketcap {
  font-size: 16px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}