table {
  width: 100%;
  background-color: rgba(38, 39, 53, 0);
  border-radius: 8px;
  overflow:hidden !important;
}

mat-progress-bar {
  z-index: 100;
  position: fixed;
  top:61px;
  left: 0;
}

.currencies {
  display: flex;
      flex-direction: row;
      width: 100%;
      height: 100px;
      margin-bottom: 20px;
}

.top-currencies:first-child  {
    display: flex;
      flex-direction: row;
            width: 100%;
      height: 100px;

}
.worst-currencies {
  display: flex;
      flex-direction: row;
            width: 100%;
      height: 100px;
}

.card {
  width: 100%;
  margin-right: 10px;
}

mat-card {
  height: 70px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgba(245, 245, 245, 0.137);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef4f;
}

.example-element-row td {
  border-color: rgba(255, 255, 255, 0.075);
  border-bottom-width: 1;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-column-name {
  font-size: 14px;
  font-weight: bold;

}

.mat-column-logo img {
  border-radius: 50%;
}

.mat-column-price {
  font-size: 20px;
  font-weight: bold;
}

.mat-column-totalvolume,  
.mat-column-circulatingsupply,
.mat-column-marketcap {
  font-size: 16px;

}

.positive {
  color: green;
}

.negative {
  color: red;
}