@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
mat-progress-bar {
  z-index: 100;
  position: fixed;
  top: 56px;
  left: 0;
}

.actionbuttons {
  width: 40px !important;
  min-width: unset !important;
  padding: 0 !important;
}

.symbol {
  vertical-align: middle;
  font-size: 10px;
  font-weight: bold;
  padding: 4px 5px;
  border-radius: 12%;
  color: rgb(190, 190, 190);
  background-color: rgb(50, 50, 65);
  border-radius: 10%;
}

table {
  width: 100%;
  background-color: rgba(53, 38, 38, 0);
  border-radius: 8px;
  overflow: hidden !important;
}

h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.titles {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  width: 50%;
  margin-bottom: 5px;
}

.currencies {
  display: flex;
  flex-direction: row;
  width: 100%;
}

mat-card-content {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  width: 100%;
  margin-right: 10px;
}

mat-card {
  height: 120px;
  background-color: rgb(29, 30, 39);
  border: 1px solid rgba(56, 58, 71, 0.685);
  padding-top: 10px !important;
}

.card mat-card-content {
  font-size: 16px;
  font-weight: 600;
}

.card mat-card-subtitle {
  font-size: 13px;
  color: rgb(96, 104, 116);
}

.title h2 {
  margin-bottom: 7px;
  font-weight: 400;
}

mat-card-title-group img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(50, 50, 65);
}

.card mat-card-title {
  margin-top: 5px;
}

.mat-header-row {
  background-color: rgb(27, 27, 32, 0.85) !important;
  font-size: medium !important;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: rgba(194, 207, 243, 0.082);
}

tr.element-row:not(.expanded-row):active {
  background: rgba(194, 207, 243, 0.205);
}

.element-row td {
  border-color: rgba(255, 255, 255, 0.070);
  border-bottom-width: 1;
}

.mat-column-name {
  font-size: 14px;
  font-weight: 500;
}

.mat-column-logo img {
  border-radius: 50%;
  background-color: rgb(50, 50, 65);
}

.mat-column-price {
  font-size: 16px;
  font-weight: 500;
  width: 135px;
}

.mat-column-changepct {
  font-size: 16px;
  font-weight: 500;
}

.mat-column-totalvolume, .mat-column-circulatingsupply, .mat-column-marketcap {
  font-size: 16px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.positivenum {
  background-color: rgba(0, 128, 0, 0.3);
  border-radius: 5px;
  padding: 4px 5px;
  transition: background-color 300ms linear;
}

.positivenum .updown {
  color: green;
}

.negativenum {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
  padding: 4px 6px;
  transition: background-color 300ms linear;
}

.negativenum .updown {
  color: red;
}