<div class="top-currencies">
  <mat-card style="width: 25%; height: 150px;margin-right: 10px; margin-bottom: 15px;">
    <mat-card-title-group>
      <mat-card-title>Top Growth</mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z0">
  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef style="width: 50px;">RANK</th>
    <td mat-cell *matCellDef="let element">{{element.rank}}</td>
  </ng-container>

  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef style="width: 50px;"></th>
    <td mat-cell *matCellDef="let element"> <img src="{{element.logo}}" style="width: 30px;" /> </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} {{element.symbol}}</td>
  </ng-container>

  <!-- price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>PRICE</th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <!-- totalvolume Column -->
  <ng-container matColumnDef="totalvolume">
    <th mat-header-cell *matHeaderCellDef>TOTAL VOLUME</th>
    <td mat-cell *matCellDef="let element"> {{element.totalvolume}} </td>
  </ng-container>

  <!-- circulatingsupply Column -->
  <ng-container matColumnDef="circulatingsupply">
    <th mat-header-cell *matHeaderCellDef>CIRCULATING SUPPLY</th>
    <td mat-cell *matCellDef="let element"> {{element.circulatingsupply}} </td>
  </ng-container>

  <!-- rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef>RATING</th>
    <td mat-cell *matCellDef="let element"> {{element.rating}}</td>
  </ng-container>

  <!-- marketcap Column -->
  <ng-container matColumnDef="marketcap">
    <th mat-header-cell *matHeaderCellDef>MARKET CAP</th>
    <td mat-cell *matCellDef="let element"> {{element.marketcap}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><a mat-stroked-button routerLink="/invest">Buy</a></td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" style="background-color: rgb(27, 27, 32, 0.85)"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row">
  </tr>

</table>